{% extends 'base.html' %}

{% block content %}

  <div id="container" style="width: 75%;">
    <canvas id="bar-chart" data-url="{% url 'grafica_barras' %}"></canvas>
  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script>

    $(function () {

      var $barChart = $("#bar-chart");
      $.ajax({
        url: $barChart.data("url"),
        success: function (data) {

          var ctx = $barChart[0].getContext("2d");

          new Chart(ctx, {
            type: 'bar',
            data: {
              labels: data.labels,
              datasets: [{
                label: 'Data',
                backgroundColor: 'blue',
                data: data.data
              }]          
            },
            options: {
              responsive: true,
              legend: {
                position: 'top',
              },
              title: {
                display: true,
                text: 'Bar Chart'
              }
            }
          });

        }
      });

    });

  </script>

{% endblock %}


<!--html>
    <head>
        <meta charset="utf-8">
        <title>File Upload</title>
    </head>
    <body>
        <canvas id="myChart"></canvas>

        <script>
            var data = {{ chartJSON | safe }}
            var ctx = document.getElementById("myChart").getContext('2d');
            var myChart = new Chart(ctx, data);
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    </body>
</html-->